.description-card {
  height: 20vh;
}

.filter {
  filter: invert(100%) sepia(10%) saturate(276%) hue-rotate(86deg) brightness(160%) contrast(139%);
}

.description-items {
  background-color: rgb(99, 99, 99);
  box-shadow: 8px 4px 20px 1px rgb(22, 52, 95);
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
}

.item-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 15px;
}

.description-icon {
  width: 30px;
  height: 25px;
  padding-bottom: 10px;
}

.text-description {
  font-size: 0.9em;
}

.data-description {
  font-size: 1.4em;
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.wind-speed {
  font-size: 0.6em;
  padding-left: 3px;
}
