.current-weather {
    height: 50vh;
}

.date {
    width: 100%;
    height: 20%;
}

.weather-data {
    width: 100%;
    height: 80%;
}

.temp-and-icon {
    display: flex;
    flex-direction: row;
}

.temp {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.temp-num {
    font-size: 6em;
    margin-bottom: 0;
}

.description-text {
    font-size: 1.1em;
    text-align: center;
}

.date {
    text-align: center;
}

.today {
    font-weight: 700;
    font-size: 1.4em;
}

.date>p {
    margin: 0;
}

.date-data {
    font-size: 0.9em;
}

.temp-num {
    display: flex;
    justify-content: space-around;
}

.deg {
    font-size: 0.5em;
}

.decription-text {
    margin-top: 0;
    text-transform: capitalize;
    text-align: end;
}

.location-data {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.weather-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}